@page "/about"
    <div class="pagecontainer">
        <!-- ======= About Me ======= -->
        <div class="about-me container ">

            <div class="section-title">
                <h2>About</h2>
                <p>Learn more about me</p>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <img src="../img/face.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content">
                    <h3>C# .NET Developer </h3>
                    <p class="font-italic">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                    </p>
                    <div class="row">
                        <div class="col-lg-7">
                            <ul>
                                <li><i class="oi oi-arrow-right"></i> <strong>Email:</strong> copper@beards.com</li>
                                <li><i class="oi oi-arrow-right"></i> <strong>Phone:</strong> (+44) 01234567890</li>
                                <li><i class="oi oi-arrow-right"></i> <strong>Location:</strong> South Wales</li>
                            </ul>
                        </div>
                        <div class="col-lg-5">
                            <ul>
                                <li><i class="oi oi-arrow-right"></i> <strong>Age:</strong> 42</li>
                                <li><i class="oi oi-arrow-right"></i> <strong>Education:</strong> Master</li>
                                <li><i class="oi oi-arrow-right"></i> <strong>Job Status:</strong> Available</li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
                        Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
                    </p>
                </div>
            </div>
        </div>
        <!-- End About Me -->

        <div class="skills container">

            <div class="section-title">
                <h2>Skills</h2>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6">
                    <ul>
                        <li><i class="oi oi-check"></i> <strong>C#</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>VB.Net</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>.Net</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>.Net Core</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>Asp.Net</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>Asp.Net Core</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>Entity Framework Core</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>Visual Studio</strong> </li>
                    </ul>


                </div>

                <div class="col-lg-6">
                    <ul>
                        <li><i class="oi oi-check"></i> <strong>Javascript</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>Azure B2C</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>Java</strong> </li>
                        <li><i class="oi oi-check"></i> <strong></strong> </li>
                        <li><i class="oi oi-check"></i> <strong>Asp.Net</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>Asp.Net Core</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>Entity Framework Core</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>Visual Studio</strong> </li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="interests container ">

            <div class="section-title">
                <h2>Interests</h2>
            </div>

            <div class="row ">
                <div class="col-lg-3 col-md-4">
                    <div class="icon-box">
                        <i class="oi oi-lightbulb" style="color: #ffbb2c;"></i>
                        <h3>MOOC Course's</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box">
                        <i class="oi oi-sun" style="color: #5578ff;"></i>
                        <h3>Gardening</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box">
                        <i class="oi oi-document" style="color: #e80368;"></i>
                        <h3>AudioBooks</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <i class="oi oi-tablet" style="color: #e361ff;"></i>
                        <h3>Computer Gaming</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mb-4">
                    <div class="icon-box">
                        <i class="oi oi-bolt" style="color: #47aeff;"></i>
                        <h3>Ethic's</h3>
                    </div>
                </div>

            </div>

        </div><!-- End Interests -->
    </div>
    @code {

    }
