


 <div class="row mt-2">

    <div class="col-md-6 d-flex align-items-stretch">
         <div class="info-box">
                            <i class="bx bx-map"></i>
                            <h3>My Address</h3>
                            <p>47 Cardiff Road, Troedyrhiw,Mertyr Tydfil, CF48 4JZ</p>
                        </div>
                    </div>

     <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
         <div class="info-box">
             <i class="bx bx-share-alt"></i>
                  <h3>Social Profiles</h3>
                   <div class="social-links">
                          <a href="https://twitter.com/copperbeardy" >
                             <img style="max-width:40px" src="/img/twitter.png" />
                          </a>
                          <a href="https://www.linkedin.com/in/davindavies/" >
                            <img style="max-width:40px" src="../img/linkedin.png" />
                          </a>
                   </div>
         </div>
   </div>

                    <div class="col-md-6 mt-4 d-flex align-items-stretch">
                        <div class="info-box">
                            <i class="bx bx-envelope"></i>
                            <h3>Email Me</h3>
                            <p>davindavies@outlook.com</p>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4 d-flex align-items-stretch">
                        <div class="info-box">
                            <i class="bx bx-phone-call"></i>
                            <h3>Call Me</h3>
                            <p>+1 5589 55488 55</p>
                        </div>
                    </div>
                </div>
@code{}