


 <div class="row mt-2">

    <div class="col-md-6 d-flex align-items-stretch">
        <div class="info-box">           
                
            <h3><i class="oi oi-map pr-2"></i>My Address</h3>
                <p class="ml-4">47 Cardiff Road, Troedyrhiw,Mertyr Tydfil, CF48 4JZ</p>
            </div>          
        </div>

         <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
             
                  <h3><i class="oi oi-share pr-2"></i>Social Profiles</h3>
                   <div class="social-links ml-3 ">
                          <a class="ml-3" href="https://twitter.com/copperbeardy" >
                             <img style="max-width:25px" src="/img/twitter.png" />
                          </a>
                          <a href="https://www.linkedin.com/in/davindavies/" >
                            <img style="max-width:25px" src="../img/linkedin.png" />
                          </a>
                   </div>
             </div>
         </div>

      <div class="col-md-6 mt-4 d-flex align-items-stretch">
        <div class="info-box">
           
            <h3><i class="oi oi-envelope-open pr-2"></i>Email Me</h3>
            <p class="ml-4" >davindavies@outlook.com</p>
        </div>
     </div>
     <div class="col-md-6 mt-4 d-flex align-items-stretch">
        <div class="info-box">
        
           <h3><i class="oi oi-phone pr-2"></i>Call Me</h3>
            <p class="ml-4">+1 5589 55488 55</p>
         </div>
      </div>
 </div>


              
@code{}