@inherits LayoutComponentBase

 
    <div class="main bg ">
        <div class="bgblack top-row pl-4">
            <div class="container ">
                <div class="  d-flex justify-content-between p-3">

                    <a class="navbar-brand" href="/"><h2>Davin Davies</h2></a>

                    <TopNavMenu />

                </div>
            </div>
        </div>
        <div class="container content  ">
            @Body
        </div>
    </div>
